@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

$default-text-color: #4c4c4c;

$blue: #5588ff;
$red: #fe4e47;

.alert {
	margin: 0;
	z-index: 2;

	border-radius: 0;

	p {
		margin: 0
	}
}

.section {

	z-index: 0;
	transition: all 0.6s;

	&.reported-users-details {
	
		margin-top: 44px;
		margin-bottom: 44px;
		
		padding: 0 86px;

		h1 {
			margin-bottom: 24px;
		}

		.sale-items-list {
			padding: 24px;

			border: 2px solid #efefef;
			border-radius: 6px;

			h4 {
				font-size: 2rem;
				margin-bottom: 18px;
			}

			.sale-item {

				width: 100%;
				padding: 24px 0;

				border-top: 1px solid #efefef;
				border-bottom: 1px solid #efefef;

				display: block;

				.info {

					width: 78%;

					display: inline-block;

					.name {
						font-size: 24px;
						font-weight: bold;

						margin-bottom: 24px;

						color: $blue;
					}

					.reason {

						b {
							color: $default-text-color;
						}

						p {
							font-size: 16px;
							color: $red;
						}
					}

					.description {

						b {
							color: $default-text-color;
						}

						p {
							font-size: 16px;
							color: $default-text-color;
						}
					}

					.category {

						margin-top: 6px;
						display: inline-block;

						p, a {
							
							margin: 0;
							padding: 6px 12px;
							
							font-size: 16px;
							border-radius: 6px;
						
							color: white;
							text-decoration: none;

							transition: all 0.4s;
							
							background: #eb6e6e;

							&:hover {
								background: #cf6060;
							}
						}
					}

					.location {

						margin: 6px 0;
						display: inline-block;

						button {
							margin: 0;
							padding: 6px 12px;
							
							font-size: 16px;
							border-radius: 6px;
						
							color: white;
							text-decoration: none;

							transition: all 0.4s;
							
							background: #76b25d;

							border: none;
							cursor: pointer;
							
							&:hover {
								background: #6a9f53;
							}
						}
					}
				}

				.gallery {
					width: 100%;
					height: 350px;

					position: relative;
					display: inline-block;

					.image {
						height: 100%;

						display: block;
					}

					.control {
						top: 150px;
					}
				}

				.action {
					width: 20%;

					float: right;
					text-align: right;
					display: inline-block;

					form, .link {
						width: 100%;
					}

					.button {
						margin: 2px 0;
					}
				}
			}
		}
	}
}







