$default-text-color: #4c4c4c;

body {
	font-family: 'Open Sans', sans-serif;
}

.alert {
	margin: 0;
	z-index: 2;

	border-radius: 0;

	p {
		margin: 0
	}
}

.section {

	margin: 24px;
	padding: 36px;

	border: 2px solid #efefef;
	border-radius: 6px;

	p {
		color: $default-text-color;
		font-size: 18px;
	}

	h1 {
		margin-bottom: 16px;
	}

	.form-section {

		margin: 12px 0;

		label {
			font-size: 22px;
			margin-bottom: 12px;
		}

		input {
			padding: 0 24px;

			&::placeholder {
				color: #b9b9b9;
			}
		}

		textarea {
			padding: 16px 24px;
			
			&::placeholder {
				color: #b9b9b9;
			}
		}
	}

	input[type="submit"] {
		&:hover {
			cursor: pointer;
		}
	}

	&.description {
		margin-top: 48px;
	}

	&.contact {
		margin-bottom: 132px;
	}
}