$default-text-color: #4c4c4c;

body {
	font-family: 'Open Sans', sans-serif;
}

.section {

	padding: 36px;

	border: 2px solid #efefef;
	border-radius: 6px;

	p {
		color: $default-text-color;
		font-size: 18px;
	}

	h1 {
		margin-bottom: 16px;
	}

	&.description {
		margin-top: 48px;
		margin-bottom: 132px;

		h3 {
			margin-top: 24px;
		}
		
		.date {
			color: #a7a7a7;
		}
	}
}

@media only screen and (max-width: 512px) {
	.section {
		&.description {
			margin-left: 12px;
			margin-right: 12px;

			h1 {
				font-size: 2.4rem;
				margin-bottom: 24px;

			}
		}
	}
}