$default-text-color: #4c4c4c;

body {
	font-family: 'Open Sans', sans-serif;
}

.section {

	padding: 36px;

	border: 2px solid #efefef;
	border-radius: 6px;

	p {
		color: $default-text-color;
		font-size: 18px;
	}

	h1 {
		margin-bottom: 16px;
	}

	.form-section {

		margin: 12px 0;

		label {
			font-size: 22px;
			margin-bottom: 12px;
		}

		input {
			padding: 0 24px;

			&::placeholder {
				color: #b9b9b9;
			}
		}

		textarea {
			padding: 16px 24px;

			&::placeholder {
				color: #b9b9b9;
			}
		}

		.error {
			color: #ff7777;
			font-size: 16px;
		}
	}

	input[type="submit"] {
		&:hover {
			cursor: pointer;
		}
	}

	&.register {
		margin-top: 48px;
		margin-bottom: 132px;
	}
}

@media only screen and (max-width: 512px) {
	.section {
		&.register {
			margin-left: 12px;
			margin-right: 12px;
		}
	}
}


